.App {
  text-align: center;
}

a {
  color: white;
}

.Game {
  background-size: cover;
  margin: 0;
  height: 100vh;
}

.backgroundColor0 {
  background-image: url('./assets/backgrounds/bg0.png');
}

.backgroundColor1 {
  background-image: url('./assets/backgrounds/bg1.png');
}

.backgroundColor2 {
  background-image: url('./assets/backgrounds/bg2.png');
}

.backgroundColor3 {
  background-image: url('./assets/backgrounds/bg3.png');
}

.backgroundColor4 {
  background-image: url('./assets/backgrounds/bg4.png');
}

.Card {
  width: 6rem;
  margin: 2px;
  cursor: pointer;
}

.topInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 60px;
}

.topInfo>h1 {
  color: white;
  margin-top: 10px;
  font-size: 1.8rem;
}

.square {
  height: 20px;
  width: 20px;
  display: inline-block;
  margin: 20px 2px;
  cursor: pointer;
  border-radius: 10%;
}

.color0 {
  background-color: #8e251d;
}

.color1 {
  background-color: #48406a;
}

.color2 {
  background-color: #406a4b;
}

.color3 {
  background-color: #40686a;
}

.color4 {
  background-color: #23873f;
}

.topInfoText {
  color: white;
  font-size: 2rem;
  margin: 0;
}

.waitingForPlayer {
  height: 80px;
  font-size: 1.5rem;
}

.player1Deck>img {
  transition: transform 350ms;
}

.player1Deck>img:hover {
  transform: scale(1.08);
  opacity: 1;
}

.player2Deck>img {
  transition: transform 350ms;
}

.player2Deck>img:hover {
  transform: scale(1.08);
  opacity: 1;
}