.App {
  text-align: center;
}

a {
  color: #ffffff;
}

.Homepage {
  background-image: url('./assets/Landing-Page.gif');
  background-size: cover;
  margin: 0;
  height: 100vh;
}

.homepage-menu {
  position: relative;
  top: 100px;
}

.Game {
  background-size: cover;
  margin: 0;
  height: 100vh;
}

.backgroundColorR {
  background-image: url('./assets/backgrounds/bgR.png');
}

.backgroundColorG {
  background-image: url('./assets/backgrounds/bgG.png');
}

.backgroundColorB {
  background-image: url('./assets/backgrounds/bgB.png');
}

.backgroundColorY {
  background-image: url('./assets/backgrounds/bgY.png');
}

.Card {
  width: 6rem;
  margin: 2px;
  cursor: pointer;
}

.topInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 60px;
  height: 100px;
}

.topInfo>img {
  width: 7%;
  margin: 0;
  padding: 0;
}

.topInfo>h1 {
  color: white;
  margin-top: 10px;
  font-size: 1.8rem;
  padding-top: 2%;
}

.topInfoText {
  color: white;
  font-size: 2rem;
  margin: 0;
}
/* 
.waitingForPlayer {
  height: 80px;
  font-size: 1.5rem;
} */

.player1Deck {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.player1Deck>img {
  transition: transform 350ms;
}

.player1Deck>img:hover {
  transform: scale(1.08);
  opacity: 1;
}

.player2Deck {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.player2Deck>img {
  transition: transform 350ms;
}

.player2Deck>img:hover {
  transform: scale(1.08);
  opacity: 1;
}

.playerDeckText {
  color: white;
  font-size: 2rem;
  margin: 0 20px;
}