@import url('https://fonts.googleapis.com/css?family=Carter+One');

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Carter One', sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
